<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itravel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.Feedback.MyFeedbacks"></activity>
        <activity android:name="com.example.Feedback.UpdateFeedback" />
        <activity android:name="com.example.Feedback.DeleteFeedback" />
        <activity android:name="com.example.Feedback.AddFeedback" />
        <activity android:name="com.example.profile_upgrade.PaymentDetailsUpdate" />
        <activity android:name="com.example.profile_upgrade.Viewpaymentlogs" />
        <activity android:name=".RestaurentOffers.AddOffers">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".RestaurentOffers.DeleteOffers">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>>
            -->
        </activity>
        <activity
            android:name="com.example.Home.dashboard"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".RestaurentOffers.UpdateOffers">


                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".RestaurentOffers.Hotels">
        <!--    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>   -->
        </activity>
    </application>

</manifest>